.DS_Store
node_modules
dist
.env
.env.*
!.env.example
vite.demo.config.ts
vite.config.ts
vitest.config.ts
vitest.config.e2e.ts

# Ignore files for PNPM, NPM and YARN
pnpm-lock.yaml
package-lock.json
yarn.lock

# Eslint not working with docusaurus, so ignore it until it's fixed
packages/docs/